*,
*::before,
* ::after {
  box-sizing: border-box;
  font-family: var(--font-family);
}

:root {
  /* Primary Colors */
  --bright-Blue: hsl(220, 98%, 61%);
  --background: linear-gradient(
    to bottom right,
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  );

  /* Light Theme */
  --light-Very-Light-Gray: hsl(0, 0%, 98%);
  --light-Very-Light-Grayish-Blue: hsl(236, 33%, 92%);
  --light-Light-Grayish-Blue: hsl(233, 11%, 84%);
  --light-Dark-Grayish-Blue: hsl(236, 9%, 61%);
  --light-Very-Dark-Grayish-Blue: hsl(235, 19%, 35%);

  /* Dark Theme */
  --dark-Very-Dark-Blue: hsl(235, 21%, 11%);
  --dark-Very-Dark-Desaturated-Blue: hsl(235, 24%, 19%);
  --dark-Light-Grayish-Blue: hsl(234, 39%, 85%);
  --dark-Light-Grayish-Blue-hover: hsl(236, 33%, 92%);
  --dark-Dark-Grayish-Blue: hsl(234, 11%, 52%);
  --dark-Ver-Dark-Grayish-Blue: hsl(233, 14%, 35%);
  --dark-Very-Dark-Grayish-Blue: hsl(237, 14%, 26%);

  --font-size: 18px;
  --font-family: "Josefin Sans", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: var(--font-family);
  font-size: var(--font-size);
}

main {
  width: 100vw;
  height: 100vh;
  background-color: var(--light-Very-Light-Grayish-Blue);
}

.background {
  height: 40vh;
  background-image: url("images/bg-mobile-light.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
  height: 15vh;
}

.container h1 {
  color: var(--light-Very-Light-Gray);
  font-size: 1.75rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 5px;
}

.container .theme-button {
  background-image: url("images/icon-moon.svg");
  background-repeat: no-repeat;
  height: 50px;
  width: 50px;
  background-color: var(--background);
  background-position: center;
  border: none;
  cursor: pointer;
}

.input-todo {
  display: flex;
  align-items: center;
  margin: 20px;
  background-color: var(--light-Very-Light-Gray);
  height: 50px;
  border-radius: 5px;
  overflow: hidden;
  color: var(--light-Very-Dark-Grayish-Blue);
}

.input-todo #submit-data {
  margin-left: 20px;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: solid 2px var(--light-Light-Grayish-Blue);
  cursor: pointer;
  background-image: url("images//icon-check.svg"), var(--background);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}

#todo-data {
  height: inherit;
  width: 100%;
  margin-left: 10px;
  border: none;
  outline: none;
  font-size: 1rem;
  background-color: inherit;
  color: inherit;
}

.list-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -30px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: var(--light-Very-Light-Gray);
  border-radius: 5px;
  overflow: hidden;
}

.counter-and-clear-operation {
  display: inline;
  margin: 10px;
  color: var(--light-Dark-Grayish-Blue);
  font-size: 1rem;
  height: 20px;
}

#clear-completed {
  font-size: inherit;
  border: none;
  background-color: inherit;
  color: inherit;
  float: right;
}

.links {
  background-color: var(--light-Very-Light-Gray);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 25px;
  margin: 20px;
  height: 50px;
  border-radius: 5px;
}

.links button {
  border: none;
  font-size: 1rem;
  font-weight: 700;
  color: var(--light-Dark-Grayish-Blue);
  background-color: inherit;
}

#drag-drop {
  text-align: center;
  color: var(--light-Dark-Grayish-Blue);
  margin-top: 200px;
}
